.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.main-content {
    flex: 1;
    margin-left: 280px;
    /* Sidebar width */
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.content-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    animation: fadeIn var(--transition-normal);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}